.avatar-section {
  h6 {
   margin-top: 10px;
    &:last-child {
      margin-top: 20px;
    }
  }
}
.avatar-info {
  margin-top: 20px;
  div {
    justify-content: space-between;
    margin: 10px 0px;
    span {
      color: #81007F;
    }
  }
}
.avatar-progress {
  margin-top: 30px;
  .progress-progress-bar {
    margin-top: 10px;
  }
}
.algo-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .calc-title {
    width: 45%;
    justify-content: space-between;
    align-items: center;
    span {
      &:first-child {
        color: #81007F;
      }
      &:last-child {
        color: #81007F;
      }
    }
  }
  .between {
    margin: 15px 0px;
    span {
      &:first-child {
        color: #81007F;
      }
      &:last-child {
        margin-left: 8px;
      }
    }
  }
  .button {
    width: 100%;
    button {
      width: 100%;
      display: inline-block;
    }
  }
  .socLinks {
    margin-top: 15px;
    span {
      &:last-child {
        margin-left: 8px;
      }
    }
  }
}
.unscrollable-section {
  height: calc(100vh - 100px);
  overflow: hidden;
  .unscrollable-left-section {
    height: calc(100vh - 150px);
  }
  .desc-section {
    height: calc(100vh - 150px);
  }
}
.desc-section {
  height: 67.5%;
  overflow-y: scroll;

  h3 {
    color: #81007F;
  }
  .desc {
    margin-top: 15px;
  }
  .second-section {
    margin-top: 30px;
  }
}
.tokenDesc {
  h6 {
    margin-right: 8px;
  }
  span {
    color: #81007F;
  }
  .token-first {
    margin-top: 15px;
  }
  .token-second {
    margin-top: 15px;
  }
}
.third-section {
  margin-top: 30px;
  h3 {
    margin-bottom: 15px;
  }
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        font-size: 14px;
    }
    img {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
.fourth-section {
  h3 {
    margin-bottom: 15px;
  }
}
