.main {
  h3,h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  .action-section {
    padding-bottom: 20px;
    .input {
      .input-costum {
        width: 50%;
        height: 40px;
      }
      .d-flex {
        margin-bottom: 20px;
      }
    }
    .button {
      margin-top: 80px;
    }
    .top {
      margin-top: 143px;
    }
    h4 {
      margin-bottom: 50px;
    }
    .wrapper {
      padding: 0px 20px;
    }
  }
}
button {
  width: 140px;

}
.extra-buttons {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  .stacking {
    margin-right: 20px;
  }
}

.header {
  margin-bottom: 15px;
}

.distribution {
  .input {
    h6 {
      //font-size: 14px;
      white-space: nowrap;
      margin-right: 10px;
    }
    .bottom {
      margin-bottom: 20px;
    }
    input {
      width: 90%;
    }
    ::placeholder {
    }
    div {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .claim-button {
    justify-content: center;

  }
}
