<div class="main">
  <div class="wrapper-border" style="min-height: calc(100vh - 120px)">
    <div class="header">
      <h3>Staking</h3>
      <h4 >Total Staked: {{stakingInfo.totalStaked}} - Added this week: {{stakingInfo.totalAddedWeek}}</h4>
      <h4 class="color-violet">Weekly Rewards: {{stakingInfo.weeklyRewards}}</h4>
    </div>
    <div class="scroller">
      <div class="action-section">
        <div class="wrapper-border">
            <div class="row">
              <div class="col-md-6">
                <div class="wrapper">
                  <h4 class="color-violet">Your Stake</h4>
                  <div class="input">
                    <div class="d-flex align-items-center justify-content-between">
                    <h6>Staked Verse:</h6>
                    <input type="text" class="input-costum" disabled value="{{userInfo!.usersStake}}">
                    <span style="font-size: 12px;" class="color-violet">Added Stake this week: {{userInfo!.userAddedWeek}}</span>
                  </div>
                  </div>
                  <div class="button top d-flex align-items-center justify-content-between">
                    <button class="btn-secondary-costum" (click)="openPopUp('stake')">Stake</button>
                    <button class="btn-primary-costum" (click)="openPopUp('withdraw')">Withdraw</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="wrapper">
                  <h4 class="color-violet">Rewards</h4>
                  <div class="input">
                    <div class="d-flex align-items-center justify-content-between">
                      <h6>Verse Rewards:</h6>
                      <input type="text" class="input-costum" disabled value="{{userInfo!.rewards}}">
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <h6>Next claimable time:</h6>
                      <input type="text" class="input-costum" disabled value="{{nextClaimableDate}}">
                    </div>
                  </div>
                  <div class="button d-flex align-items-center claim-button">
                    <button class="btn-secondary-costum" (click)="claim()" [class.disable-btn]="!poolClaimable(userInfo!.nextClaimableDate)">Claim</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="extra-buttons">
          <div class="button stacking d-flex align-items-center justify-content-between">
            <button class="btn-primary-costum" (click)="ShowStaking()"
            [class.btn-secondary-costum]="isStakingSelected">Staking</button>
          </div>
          <div class="button d-flex align-items-center justify-content-between">
            <button class="btn-primary-costum" (click)="ShowDistribution()"
            [class.btn-secondary-costum]="isDistributionSelected">Distribution</button>
          </div>
        </div>
        <div class="d-flex align-items-center"  (click)="ShowFinished()"   [ngStyle]="{'margin-bottom': isFinishedChecked ? '8px' : '0px'}">
          <input type="checkbox" name="checkFinished" id="checkFinished" #checkboxFinished >
          <label for="checkFinished" style="color: #81007F; font-weight: 700;margin-left: 5px; cursor: pointer; margin-bottom: 0px;">Show Finished Pools</label>
        </div>
      </div>
      <div class="wrapper-border">
        <ng-container *ngIf="isDistributionSelected">
          <div class="action-section" *ngFor="let pool of pools">
            <div class="wrapper-border">
              <div class="row">
                <div class="col-md-6">
                  <div class="wrapper">
                    <h4 class="color-violet">{{pool[2]['params']['name']}}</h4>
                    <div class="input">
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Staked Tokens:</h6>
                        <input type="text" class="input-costum" disabled value="{{pool[1]!.usersStake}}">
                      </div>
                    </div>
                    <div class="input">
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Pool Duration:</h6>
                        <input type="text" class="input-costum" disabled value="{{getDuration(pool[0])}}">
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between" *ngIf="!poolStarted(pool[0].startingTime)">
                      <h6>Pool Start:</h6>
                      <input type="text" class="input-costum" disabled value="{{getStart(pool[0].startingTime)}}">
                    </div>
                    <div class="button top d-flex align-items-center justify-content-between">
                      <button class="btn-secondary-costum" (click)="openPopUp('stake_distribution', pool[0])" [class.disable-btn]="isFinished(pool[0].endingTime)">Stake</button>
                      <button class="btn-primary-costum" (click)="openPopUp('withdraw_distribution', pool[0])">Withdraw</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="wrapper">
                    <h4 class="color-violet">Rewards</h4>
                    <div class="input">
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Total Rewards:</h6>
                        <input type="text" class="input-costum" disabled value="{{pool[1].totalPoolSize }}">
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>{{pool[2]['params']['name']}} Rewards:</h6>
                        <input type="text" class="input-costum" disabled value="{{pool[1].rewards}}">
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Next claimable time:</h6>
                        <input type="text" class="input-costum" disabled value="{{formatDate(pool[1].nextClaimableDate)}}">
                      </div>
                    </div>
                    <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="pool[1].optedIn && !isFinished(pool[0].endingTime)">
                      <button class="btn-secondary-costum" (click)="claimDistribution(pool[0])" [class.disable-btn]="!poolClaimable(pool[1].nextClaimableDate)">
                        Claim
                      </button>
                    </div>
                    <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="!pool[1].optedIn && isFinished(pool[0].endingTime)">
                      <button class="btn-secondary-costum" (click)="claimStaking(pool[0])" [class.disable-btn]="true">
                        Claim
                      </button>
                    </div>
                    <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="!pool[1].optedIn && !isFinished(pool[0].endingTime)">
                      <button class="btn-secondary-costum" (click)="optInStaking(pool[0])">
                        OptIn
                      </button>
                    </div>
                    <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="pool[1].optedIn && isFinished(pool[0].endingTime)">
                      <button class="btn-secondary-costum" (click)="optOutStaking(pool[0])">
                        OptOut
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isStakingSelected">
          <div class="action-section" *ngFor="let pool of pools">
            <div class="wrapper-border">
              <div class="header d-flex align-items-center">
                <h4>{{pool[2]['params']['name']}}</h4>
                <img src="" alt="123">
                <img src="" alt="123">
              </div>
              <div class="content distribution">
                <div class="row">
                  <div class="col-md-4">
                    <div class="input">
                      <div class="bottom d-flex align-items-center justify-content-between">
                        <h6>Total Pool:</h6>
                        <input type="text" class="input-costum" disabled value="{{pool[1].totalPoolSize}}">
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Duration:</h6>
                        <input type="text" class="input-costum" disabled value="{{getDuration(pool[0])}}">
                      </div>
                      <div class="d-flex align-items-center justify-content-between" *ngIf="!poolStarted(pool[0].startingTime)">
                        <h6>Pool Start:</h6>
                        <input type="text" class="input-costum" disabled value="{{getStart(pool[0].startingTime)}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input">
                      <div class="bottom d-flex align-items-center justify-content-between">
                        <h6>{{pool[2]['params']['name']}} Rewards:</h6>
                        <input type="text" class="input-costum" disabled value="{{pool[1].rewards}}">
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>Next Claimable Time:</h6>
                        <input type="text" class="input-costum" disabled value="{{formatDate(pool[1].nextClaimableDate)}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input">
                      <div class="d-flex align-items-center justify-content-between">
                        <h6>est. APY:</h6>
                        <input type="text" class="input-costum" placeholder="20%">
                      </div>
                      <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="pool[1].optedIn && !isFinished(pool[0].endingTime)">
                        <button class="btn-secondary-costum" (click)="claimStaking(pool[0])" [class.disable-btn]="!poolClaimable(pool[1].nextClaimableDate)">
                          Claim
                        </button>
                      </div>
                      <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="!pool[1].optedIn && isFinished(pool[0].endingTime)">
                        <button class="btn-secondary-costum" (click)="claimStaking(pool[0])" [class.disable-btn]="true">
                          Claim
                        </button>
                      </div>
                      <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="!pool[1].optedIn && !isFinished(pool[0].endingTime)">
                        <button class="btn-secondary-costum" (click)="optInStaking(pool[0])">
                          OptIn
                        </button>
                      </div>
                      <div class="d-flex" style="margin-top: 30px; justify-content: flex-end" *ngIf="pool[1].optedIn && isFinished(pool[0].endingTime)">
                        <button class="btn-secondary-costum" (click)="optOutStaking(pool[0])">
                          OptOut
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-pop-up [stacking]="true" [stackingISStake]="isStake" [stakingInfo]="stakingInput" (isClosed)="closePopUp($event)" *ngIf="closePopup"></app-pop-up>
</div>
