<div class="main">
  <div class="wrapper-border" style="min-height: calc(100vh - 120px)">
    <h3>Staking</h3>
    <div class="action-section">
      <div class="wrapper-border">
          <div class="row">
            <div class="col-md-6">
              <div class="wrapper">
                <h4 class="color-violet">Your Stake</h4>
                <div class="input">
                  <div class="d-flex align-items-center justify-content-between">
                  <h6>Staked Verse:</h6>
                  <input type="text" class="input-costum" readonly placeholder="{{userInfo!.usersStake}}">
                  <span style="font-size: 12px;" class="color-violet">Added Stake this week: {{userInfo!.userAddedWeek}}</span>
                </div>
                </div>
                <div class="button top d-flex align-items-center justify-content-between">
                  <button class="btn-secondary-costum" (click)="openPopUp('stake')">Stake</button>
                  <button class="btn-primary-costum" (click)="openPopUp('withdraw')">Withdraw</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="wrapper">
                <h4 class="color-violet">Rewards</h4>
                <div class="input">
                  <div class="d-flex align-items-center justify-content-between">
                    <h6>Verse Rewards:</h6>
                    <input type="text" class="input-costum" placeholder="{{userInfo!.verseRewards}}">
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <h6>Next claimable time:</h6>
                    <input type="text" class="input-costum" placeholder="{{formatDate(userInfo!.nextClaimableDate)}}">
                  </div>
                </div>
                <div class="button d-flex align-items-center claim-button">
                  <button class="btn-primary-costum" (click)="claim()">Claim</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <app-pop-up [stacking]="true" [stackingISStake]="isStake" (isClosed)="closePopUp($event)" *ngIf="closePopup"></app-pop-up>
</div>
