<div class="main">
  <div class="wrapper-border">
    <div class="header-title d-flex">
      <h3>VerseWallet</h3>
      <span style="margin: 4px 0 15px 40px;">{{totalAlgoValue ? this.totalAlgoValue.toFixed(2) : ''}}<span class="color-violet">Algo</span> ≈ 0 $ lol</span>
    </div>
    <div class="choise d-flex" style="margin-top: 5px; margin-bottom: 10px;">
      <div class="section" (click)="activeFirst()">
        <button [ngClass]="{'btn-secondary-costum': isActiveFirst, 'btn-primary-costum': isActiveSecond }"
          style="border-radius: 4px; margin-right: 10px;" routerLink="/wallet">
          Tokens
        </button>
      </div>
      <div class="section" (click)="activeSecond()">
        <button [ngClass]="{'btn-secondary-costum': isActiveSecond, 'btn-primary-costum': isActiveFirst }"
          class="btn-primary-costum" style="border-radius: 4px" routerLink="/wallet">
          My Entries
        </button>
      </div>
    </div>
    <app-track *ngIf="isActiveFirst"></app-track>
    <app-launchpad [isWallet]="true" *ngIf="isActiveSecond" [entries]="isActiveSecond"></app-launchpad>
  </div>
</div>
