<div class="main">
  <div class="wrapper-border">
    <form class="exchanger" [formGroup]="sendForm">
      <!-- <div class="exchanger"> -->
        <div class="d-flex top flex-column">
          <h4>Send token</h4>
          <div class="d-flex">
            <app-drop-down-selector
              [isNotAccordion]="false"
              [dropDownValues]="assetArr"
              [widthPX]="'255px'"
              [extraDropDown]="true"
              (showAll)="handleCheckboxUpdateSecond($event)"
              (dropDownValue)="getValueFromDropDown($event, 2)"
              [buttonTradeChangedTop]="false"
            ></app-drop-down-selector>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span
                  style="
                    color: #81007f;
                    margin-right: 5px;
                    font-size: 13px;
                    margin-bottom: 3px;
                  "
                  >Available Balance:</span
                >
                <span
                  style="
                    margin-right: 17px;
                    font-size: 13px;
                    margin-bottom: 3px;
                  "
                  >{{availableBalance.toFixed(6)}} {{selectedOption?.unitName}}</span
                >
              </div>
              <div class="input">
                <input
                formControlName="sendInput"
                  type="text"
                  class="input-costum"
                  placeholder="Enter..."
                />
              </div>
            </div>
          </div>
        </div>
        <h6>To Address</h6>
        <div class="d-flex">
          <input formControlName="addressInput" type="text" class="input-costum" />
        </div>

        <span *ngIf="addressNotOptedIn" class="error-message error-msg">Address not opted - in</span>

        <span *ngIf="invalidAddress" class="error-message error-msg">The address is invalid</span>

        <div class="d-flex align-items-center justify-content-around">
          <button
            class="btn-secondary-costum"
            style="margin: 25px auto; width: 160px; font-size: 20px"
            (click)="onSubmit()"
          >
            Send
          </button>
        </div>
      <!-- </div> -->
    </form>
  </div>
</div>
