.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  .exchanger {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      text-align: center;
      margin-bottom: 15px;
    }
    h6 {
      text-align: center;
      margin: 15px 0px;
    }
    .input {
      margin-left: 10px;
    }
  }
}
.input-costum {
  width: 100%;
}
.margin-t {
  margin-top: 15px;
}
.wrapper-border {
  display: flex;
  justify-content: center;
  width: 100%;
}
app-drop-down-selector {
  margin-top: 22px;
}
