<div class="wrapper-border">
  <div class="main">
    <div class="header">
      <h3>Verse Locker</h3>
    </div>
    <div class="content" *ngIf="!walletLockedAlready">
      <form [formGroup]="lockerFormGroup">
        <div class="first">
            <div class="d-flex">
              <div class="title">
                <h4>Asset</h4>
              </div>

              <div class="createoffer" style="margin-left: 21px">
                <app-drop-down-selector
              [isNotAccordion]="false"
              [dropDownValues]="dropDownValues"
              (dropDownValue)="getSelectedAsset($event)"
              [widthPX]="'760px'"
              >
              </app-drop-down-selector>
              </div>

            </div>
            <div class="d-flex">
              <div class="title">
                <h4>Amount</h4>
              </div>
              <div
                class="bot-text"
              >
                <span class="thin-gray-text">Available:</span>
                <span  class="amount">{{selectedAmount.toFixed(2)}} {{selectedUnit}}</span>
              </div>
              <div class="field">
                <input type="number" class="input-costum" formControlName="amount">
              </div>
            </div>
            <div class="d-flex">
              <div class="title">
                <h4>Lock Time</h4>
              </div>
              <div class="field">
                <input type="datetime-local" class="input-costum" style="width: 406px;" formControlName="lockTime">
              </div>
            </div>
        </div>
        <div class="second">
            <div class="check"  (click)="activateVestedSection()">
              <input
                type="checkbox"
                name="checkPurpose"
                id="checkPresale"
                #Vested
                formControlName="vestedCheck"
              />
              <label
                for="checkPresale"
                style="
                            color: #81007f;
                            font-weight: 700;
                            margin-left: 5px;
                            cursor: pointer;
                            margin-bottom: 0px;
                          "
              >Vested Release</label
              >
            </div>
            <ng-container *ngIf="vestedChecked">
              <div class="d-flex">
                <div class="title">
                  <h4>Release Interval (Days)</h4>
                </div>
                <div class="field">
                  <input type="number" class="input-costum" formControlName="releaseInterval">
                </div>
              </div>
              <div class="d-flex">
                <div class="title">
                  <h4>Release per Interval</h4>
                </div>
                <div class="field">
                  <input type="number" class="input-costum" style="width: 406px" formControlName="releasePerInterval">
                </div>
              </div>
            </ng-container>
            <button class="btn-secondary-costum" style="width: 140px" (click)="lockTokens()" *ngIf="optedIn">
              Lock
            </button>
            <button class="btn-secondary-costum" style="width: 140px" (click)="optIn()" *ngIf="!optedIn">
              Opt In
            </button>
        </div>
      </form>
    </div>
  </div>

    <div class="main" *ngIf="walletLockedAlready">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <header>
                <h3>Lock Info</h3>
              </header>
                <div class="d-flex">
                  <div>
                    <span>ASA ID:</span>
                  </div>
                  <div>
                    <span class="color-violet">{{lockSettings!.assetId}}</span>
                  </div>
                </div>
                <div class="d-flex" *ngIf="lockSettings!.assetContractId">
                  <div>
                    <span>Contract ID:</span>
                  </div>
                  <div>
                    <span class="color-violet">{{lockSettings!.assetContractId}}</span>
                  </div>
                </div>
            </div>
            <div class="col-md-6 top">
              <div class="d-flex">
                <div>
                  <span>Locked Amount:</span>
                </div>
                <div>
                  <span class="color-violet">{{lockSettings!.amount}}</span>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <span>Release Time:</span>
                </div>
                <div>
                  <span class="color-violet">{{formatDate(lockSettings!.lockTime)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="lockSettings!.periodTime">
          <div class="row">
            <div class="col-md-6">
              <header>
                <h3>Vesting Schedule</h3>
              </header>
              <div class="d-flex">
                <div>
                  <span>Release Period: </span>
                </div>
                <div>
                  <span class="color-violet">{{formatPeriod(lockSettings!.periodTime!)}}</span>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <span>Tokens Per Period:</span>
                </div>
                <div>
                  <span class="color-violet">{{lockSettings!.tokensPerPeriod!}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 top">
              <div class="d-flex">
                <div>
                  <span>Until next Release:</span>
                </div>
                <div>
                  <span class="color-violet">{{formatPeriod(lockSettings!.nextClaimableTime!)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button">
          <button class="btn-secondary-costum">
            Claim
          </button>
        </div>
      </div>
    </div>
</div>
