<div class="main">
  <div class="wrapper-border">
    <div class="header">
      <h1>Verse Integration Pad</h1>
    </div>
    <div class="row header-prev">
      <div class="col-md-4">
        <h4>TODO:</h4>
        <span>- describe website</span>
        <span>- Launch own Token</span>
        <span>- trade all launched tokens</span>
        <span>- participate in presales</span>
      </div>
      <div class="col-md-4">
        <h4>TODO:</h4>
        <span>- describe our technology</span>
        <span>- Rug-proof: Locked liq in every token to algo base pair</span>
        <span>- baseline value for each token, ever rising</span>
        <span>- smart rising price floor for sells</span>
        <span>- all launched tokens burn Verse by trading</span>
      </div>
      <div class="col-md-4">
        <h4>TODO:</h4>
        <span>- describe our tokenomics and presale levels</span>
        <span>- For launching a token Verse needs to be burned</span>
        <span>- For participating in presales Verse needs to be hold</span>
        <span>- Different levels:</span>
        <span>- hold X verse for each level, more allocation in presale possiblesssssssssssss ssssssssssssssss sssssssssssssss ssssssssssssssssss ssssssssssssssssssssss</span>
      </div>
    </div>
    <div class="content">
      <h3>Upcoming Projects</h3>
      <div class="scroll">
        <app-card *ngFor="let item of arr;" [data]="item" routerLink="../launchpad/launch-detail/{{item[0].projectId}}"></app-card>
      </div>
    </div>
  </div>
</div>
