.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  .exchanger {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input {
      margin-left: 10px;
    }
    .top {
    }
  }
}
.input-costum {

}
.margin-t {
  margin-top: 20px;
}
.wrapper-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper-for-btns {
  margin-top: 10px;
  justify-content: space-evenly;
}
app-drop-down-selector {
  margin-top: 5px;
}
.input-field {
  .amount {
    font-size: 13px;
    color: #81007F;
    margin-bottom: 3px;
    margin-right: 17px;
  }
}
.first-drop-down {
  margin-top: 23px;
}
