.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  .exchanger {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input {
      margin-left: 10px;
    }
    .top {
    }
  }
}
.input-costum {

}
.margin-t {
  margin-top: 20px;
}
.wrapper-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
