<div class="main">
  <div class="wrapper-border d-flex flex-column">
    <div class="exchanger">
      <div
        class="d-flex align-items-center wrapper-for-btns"
        [ngStyle]="{ top: rotate ? '110px' : '110px' }"
      >
        <button
          class="btn-primary-costum btn-extra"
          (click)="getPercentOfButton(1, inputRef)"
          [class.btn-secondary-costum]="btnFirst"
        >
          25%
        </button>
        <button
          class="btn-primary-costum btn-extra"
          (click)="getPercentOfButton(2, inputRef)"
          [class.btn-secondary-costum]="btnSecond"
        >
          50%
        </button>
        <button
          class="btn-primary-costum btn-extra"
          (click)="getPercentOfButton(3, inputRef)"
          [class.btn-secondary-costum]="btnThird"
        >
          75%
        </button>
        <button
          class="btn-primary-costum btn-extra"
          (click)="getPercentOfButton(4, inputRef)"
          [class.btn-secondary-costum]="btnFourth"
        >
          100%
        </button>
      </div>
      <div class="d-flex flex-column" [class.flex-column-reverse]="rotate">
        <div
          class="d-flex top"
          [ngStyle]="{ 'margin-bottom': !rotate ? '32px' : '0px' }"
        >
          <app-drop-down-selector
            (click)="dropdownSelected(componentRefA.showDropDownSelected, 1)"
            [dropDownValues]="assetArr"
            [isNotAccordion]="false"
            [widthPX]="'255px'"
            (dropDownValue)="getValueFromDropDown($event, 1)"
            [extraDropDown]="true"
            [notCloseOnClick]="true"
            class="first-drop-down"
            #componentRefA
            (showAll)="handleCheckboxUpdate($event)"
            [checkBoxCheckTrade]="checked"
            [incomeData]="assetArr"
            [buttonTradeChangedTop]="changeTop"
          ></app-drop-down-selector>
          <div class="input d-flex flex-column">
            <div class="input-field d-flex flex-column align-items-end">
              <div
                [ngStyle]="{ bottom: rotate ? '200px' : '0px' }"
                class="top-text"
              >
                <span class="thin-gray-text">Available:</span>
                <span style="margin-left: 4px" class="amount">{{
                  availAmount.toFixed(2)
                }}</span>
              </div>
              <form [formGroup]="topForms">
                <input
                  type="number"
                  class="input-costum"
                  [class.d-none]="isClickedOnBtn"
                  formControlName="topInputValue"
                  (blur)="getTopInputValue()"
                />

                <input
                  formControlName="topInputValue"
                  type="number"
                  (click)="onUserInput(inputRef)"
                  class="input-costum"
                  [value]="availAmount"
                  [class.d-none]="!isClickedOnBtn"
                  #inputRef
                />
              </form>
            </div>
          </div>
        </div>
        <div
          class="reverse"
          style="
            padding-bottom: 20px;
            display: flex;
            animation: c;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
          "
        >
          <img
            (click)="makeReverse()"
            src="https://www.pngrepo.com/download/253436/reverse.png"
            alt=""
            style="
              width: 60px;
              height: 60px;
              transform: rotate(90deg);
              margin: auto;
              cursor: pointer;
            "
          />
        </div>
        <div
          class="d-flex"
          [ngStyle]="{ 'margin-bottom': rotate ? '32px' : '0px' }"
        >
          <app-drop-down-selector
            style="margin-top: 23px"
            (click)="dropdownSelected(componentRefB.showDropDownSelected, 2)"
            [dropDownValuesSecond]="assetArrSecond"
            [isNotAccordion]="false"
            [widthPX]="'255px'"
            [extraDropDown]="true"
            (dropDownValue)="getValueFromDropDown($event, 2)"
            [notCloseOnClick]="true"
            (showAll)="handleCheckboxUpdateSecond($event)"
            [checkBoxCheckTrade]="checkedSecond"
            [incomeData]="assetArrSecond"
            [secondOnTrade]="true"
            [buttonTradeChanged]="changeBottom"
            #componentRefB
          >
          </app-drop-down-selector>
          <div class="input d-flex flex-column align-items-end">
            <div
              [ngStyle]="{ bottom: rotate ? '-200px' : '0' }"
              class="bot-text"
            >
              <span class="thin-gray-text">Spot Price:</span>
              <span style="margin-left: 4px" class="amount">{{
                spotPrice.toFixed(6)
              }} Algo</span>
            </div>
            <form action="" [formGroup]="bottomForms">
              <input
                formControlName="bottomInputValue"
                type="number"
                class="input-costum"
              />
            </form>
          </div>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-around margin-t flex-column"
      >
        <div class="d-flex" style="width: 100%; justify-content: space-around">
          <div>
            <form [formGroup]="slippageForm">
              <div class="d-flex align-items-center">
                <span>Slippage:</span>
                <input
                  type="number"
                  formControlName="slippageInput"
                  class=""
                  style="
                    width: 70px;
                    margin-left: 5px;
                    margin-right: 5px;
                    color: #040405;
                    padding-left: 5px;
                  "
                />
                <span style="color: #81007f">%</span>
              </div>
              <div class="spillage-checkbox">
                <input
                  (change)="checkBoxClicked()"
                  id="spillageCheckBox"
                  formControlName="slippageCheckBox"
                  type="checkbox"
                  #checkBox
                />
                <label for="spillageCheckBox">Auto Slippage</label>
              </div>
            </form>
          </div>
          <div style="flex-direction: column" class="d-flex">
            <div>
              <span>Minimum Output: </span>
              <span>{{minOutput}}</span>
              <span class="color-violet" style="margin-left: 10px">{{
                selectedOption?.unitName
              }}</span>
            </div>
            <!-- <div>
              <span style="position: relative;
            left: 3vw;" class="thin-gray-text">Unit name of lower token selected</span>
            </div> -->
          </div>
        </div>
        <div class="d-flex" style="margin-top: 20px">
          <span>Price Impact:</span>
          <span style="color: #81007f; margin-left: 10px">{{priceImapct.toFixed(2)}}%</span>
        </div>
      </div>
      <button
        *ngIf="isOptedIn"
        class="btn-secondary-costum unHover"
        style="
          margin: 25px auto;
          margin-bottom: 12px;
          width: 160px;
          font-size: 20px;
        "
        (click)="swap()"
      >
        Swap
      </button>
      <button
        *ngIf="!isOptedIn"
        class="btn-secondary-costum unHover"
        style="
          margin: 25px auto;
          margin-bottom: 12px;
          width: 160px;
          font-size: 20px;
        "
      (click)="optInAsset()">
        Opt In
      </button>
    </div>
<!--    // table-->
    <div class="table">
        <h3 class="color-violet" style="text-align: center">Transactions</h3>
        <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px">
<!--        your transactions chechbox-->
          <span style="margin-right: 20px">Your Transactions</span>
          <input
            (click)="handleCheckBox()"
            type="checkbox"
            name="check"
            id="check"
            style="width: 16px; height: 16px; cursor: pointer"
          />
<!--          you transactions checkbox-->
        </div>
      <ng-container>
        <div class="wrap-tab" style="display: unset" *ngIf="!transactionChecker">
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Amount {{selectedOption?.name}}</th>
              <th scope="col">Amount Algo</th>
              <th scope="col">Price (Algo/Token)</th>
              <th scope="col">Wallet</th>
              <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of buysAndSells">
              <td>
                <div *ngIf="item.buy">
                  Buy
                </div>
                <div *ngIf="!item.buy">
                  Sell
                </div>
              </td>
              <td>{{(item.tokenAmount / pow(selectedOption!.decimals)).toFixed(2)}}</td>
              <td>{{(item.algoAmount / pow(6)).toFixed(2)}}</td>
              <td>{{item.price.toFixed(6)}}</td>
              <td>
                <a href="https://algoexplorer.io/address/{{item.userWallet}}">{{item.userWallet.slice(0, 8)}}...</a>
              </td>
              <td>{{toDate(item.date)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    <!--      your transactions table-->
      <ng-container>
        <div class="wrap-tab" style="display: unset" *ngIf="transactionChecker">
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Amount {{selectedOption?.name}}</th>
              <th scope="col">Amount Algo</th>
              <th scope="col">Price (Algo/Token)</th>
              <th scope="col">Wallet</th>
              <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of buysAndSells">
              <td>
                <div *ngIf="item.buy">
                  Buy
                </div>
                <div *ngIf="!item.buy">
                  Sell
                </div>
              </td>
              <td>{{(item.tokenAmount / pow(selectedOption!.decimals)).toFixed(2)}}</td>
              <td>{{(item.algoAmount / pow(6)).toFixed(2)}}</td>
              <td>{{item.price.toFixed(6)}}</td>
              <td>
                <a href="https://algoexplorer.io/address/{{item.userWallet}}">{{item.userWallet.slice(0, 8)}}...</a>
              </td>
              <td>{{toDate(item.date)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <!--      your transactions table-->
    </div>
<!--    // table-->
  </div>
  <div *ngIf="selectedOption?.name" class="selected-option position-left">
    <h4>{{ selectedOption?.name }} Information</h4>
    <div class="selection-data">
      <div class="propery-pair">
        <span>Marketcap:</span>
        <span class="thin-gray-text">{{ (spotPrice * blockchainInfo!.totalsupply).toFixed(2)}} Algo</span>
      </div>
      <div class="propery-pair">
        <span>Total Supply:</span>
        <span class="thin-gray-text">{{ blockchainInfo!.totalsupply }}</span>
      </div>
      <div class="propery-pair">
        <span>Algo Liquidity:</span>
        <span class="thin-gray-text">{{ blockchainInfo!.algoLiquidity / 1000000 }} Algo</span>
      </div>
      <div class="propery-pair">
        <span>Token Liquidity:</span>
        <span class="thin-gray-text">{{ (blockchainInfo!.tokenLiquidity / pow(selectedOption!.decimals)).toFixed(selectedOption!.decimals) }} {{ selectedOption!.unitName}}</span>
      </div>
      <div class="propery-pair">
        <span>Backing:</span>
        <span class="thin-gray-text">{{ blockchainInfo!.totalBacking }} Algo</span>
      </div>
      <div class="propery-pair">
        <span>Max Buy:</span>
        <span class="thin-gray-text">{{ getMaxBuy() }}</span>
      </div>
      <button (click)="openPopUp()">Backing</button>
    </div>
  </div>

  <div *ngIf="selectedOption?.name" class="selected-option position-right">
    <h4>{{ selectedOption?.name }} Fees</h4>
    <div class="selection-data">
      <span class="thin-gray-text">Buying</span>
      <div class="propery-pair">
        <span>Buy Burn:</span>
        <span class="thin-gray-text">{{ selectedOption!.buyBurn / 100}}%</span>
      </div>
      <div class="propery-pair">
        <span>Backing Tax:</span>
        <span class="thin-gray-text">{{ selectedOption!.backing / 100}}%</span>
      </div>
      <span class="thin-gray-text">Selling</span>
      <div class="propery-pair">
        <span>Sell Burn:</span>
        <span class="thin-gray-text">{{ selectedOption!.sellBurn / 100}}%</span>
      </div>
      <div class="propery-pair">
        <span>Backing Tax:</span>
        <span class="thin-gray-text">{{ selectedOption!.backing / 100}}%</span>
      </div>
      <div class="propery-pair">
        <span>Rising Pricefloor:</span>
        <span class="thin-gray-text">{{ selectedOption!.risingPriceFloor / 100}}%</span>
      </div>
    </div>
  </div>
</div>
<app-pop-up
  [isTrade]="true"
  (isClosed)="closePopUp($event)"
  *ngIf="isPopUpOpen"
></app-pop-up>
