<div class="main">
  <div class="wrapper-border">
    <div class="exchanger">
      <div class="d-flex align-items-center wrapper-for-btns" [ngStyle]="{'top': rotate ? '110px' : '110px'}">
        <button class="btn-primary-costum btn-extra " (click)="getPercentOfButton(1)"
          [class.btn-secondary-costum]="btnFirst">
          25%
        </button>
        <button class="btn-primary-costum btn-extra " (click)="getPercentOfButton(2)"
          [class.btn-secondary-costum]="btnSecond">
          50%
        </button>
        <button class="btn-primary-costum btn-extra " (click)="getPercentOfButton(3)"
          [class.btn-secondary-costum]="btnThird">
          75%
        </button>
        <button class="btn-primary-costum btn-extra " (click)="getPercentOfButton(4)"
          [class.btn-secondary-costum]="btnFourth">
          100%
        </button>
      </div>
      <div class="d-flex flex-column" [class.flex-column-reverse]="rotate">
        <div class="d-flex top" [ngStyle]="{'margin-bottom': !rotate ? '32px' : '0px'}">
          <app-drop-down-selector (click)="dropdownSelected(componentRefA.showDropDownSelected, 1)"
            [dropDownValues]="assetArr" [isNotAccordion]="false" [widthPX]="'160px'"
            (dropDownValue)="getValueFromDropDown($event, 1)" [extraDropDown]="true" [notCloseOnClick]="true"
            class="first-drop-down" #componentRefA></app-drop-down-selector>
          <div class="input d-flex flex-column">
            <div class="input-field d-flex flex-column align-items-end">
              <div [ngStyle]="{'bottom': rotate ? '200px' : '0px'}" class="top-text">
                <span class="thin-gray-text">Available:</span>
                <span style="margin-left: 4px;" class="amount">{{ '2000' }}</span>
              </div>

              <input type="text" class="input-costum" [value]="'0'" [class.d-none]="isClickedOnBtn">

              <input type="text" (change)="onUserInput(inputRef)" class="input-costum" [value]="this.algoAmount"
              [class.d-none]="!isClickedOnBtn" #inputRef>
            </div>
          </div>
        </div>
        <div (click)="makeReverse()" class="reverse" style="
        padding-bottom: 20px;
        display: flex;
        animation: c;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-top: 20px;">
          <img src="https://www.pngrepo.com/download/253436/reverse.png" alt="" style="
            width: 60px;
            height: 60px;
            transform: rotate(90deg);
            margin: auto;
            ">
        </div>
        <div class="d-flex" [ngStyle]="{'margin-bottom': rotate ? '32px' : '0px'}">
          <app-drop-down-selector style="margin-top: 23px;" (click)="dropdownSelected(componentRefB.showDropDownSelected, 2)"
            [dropDownValues]="dummyArr" [isNotAccordion]="false" [widthPX]="'160px'" [extraDropDown]="true"
            (dropDownValue)="getValueFromDropDown($event, 2)" [notCloseOnClick]="true" #componentRefB>
          </app-drop-down-selector>
          <div class="input d-flex flex-column align-items-end">
            <div [ngStyle]="{'bottom': rotate ? '-200px' : '0'}" class="bot-text">
              <span class="thin-gray-text">Spot Price:</span>
              <span style="margin-left: 4px;" class="amount">XY Algo</span>
            </div>
            <input type="text" class="input-costum">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-around margin-t flex-column">
        <div class="d-flex" style="width: 100%; justify-content: space-around;">
          <div>
            <div *ngIf="!checkBox.checked" class="d-flex align-items-center">
              <span>Slippage:</span>
              <input type="text" class=""
                style="width: 70px; margin-left: 5px; margin-right: 5px; color: #040405; padding-left: 5px;">
              <span style="color: #81007F">%</span>
            </div>
            <div class="spillage-checkbox">
              <input (click)="checkBoxClicked()" id="spillageCheckBox" type="checkbox" #checkBox>
              <label for="spillageCheckBox">Auto Slippage</label>
            </div>
          </div>
          <div style="flex-direction: column;" class="d-flex">
            <div>
              <span>Minimum Output:</span>
              <span class="color-violet" style="margin-left: 10px">10 Algo</span>
            </div>
            <!-- <div>
              <span style="position: relative;
            left: 3vw;" class="thin-gray-text">Unit name of lower token selected</span>
            </div> -->
          </div>
        </div>
        <div class="d-flex" style="margin-top: 20px">
          <span>Price Impact:</span>
          <span style="color: #81007F; margin-left: 10px">XY %</span>
        </div>
      </div>
      <button *ngIf="blockchainChecked" class="btn-secondary-costum unHover "
        style="margin: 25px auto; margin-bottom: 12px; width: 160px; font-size: 20px;">
        Swap
      </button>
      <button *ngIf="!blockchainChecked" class="btn-secondary-costum unHover "
        style="margin: 25px auto; margin-bottom: 12px; width: 160px; font-size: 20px;">
        Opt In
      </button>
    </div>
  </div>
  <div *ngIf="selectedOptionA" class="selected-option position-left">
    <h4>{{selectedOptionA}} Information</h4>
    <div class="selection-data">
      <div class="propery-pair">
        <span>Marketcap:</span>
        <span class="thin-gray-text">999</span>
      </div>
      <div class="propery-pair">
        <span>Total Supply:</span>
        <span class="thin-gray-text">459</span>
      </div>
      <div class="propery-pair">
        <span>Liquidity:</span>
        <span class="thin-gray-text">High</span>
      </div>
      <div class="propery-pair">
        <span>Backing:</span>
        <span class="thin-gray-text">Yes</span>
      </div>
      <div class="propery-pair">
        <span>Max Buy:</span>
        <span class="thin-gray-text">450</span>
      </div>
      <button (click)="openPopUp()">Backing</button>
    </div>
  </div>

  <div *ngIf="selectedOptionB" class="selected-option position-right">
    <h4>{{selectedOptionB}} Fees</h4>
    <div class="selection-data">
      <div class="propery-pair">
        <span>Buy Tax:</span>
        <span class="thin-gray-text">$200</span>
      </div>
      <div class="propery-pair">
        <span>Sell Tax:</span>
        <span class="thin-gray-text">2%</span>
      </div>
      <div class="propery-pair">
        <span>Backing Tax:</span>
        <span class="thin-gray-text">12%</span>
      </div>
      <div class="propery-pair">
        <span>Send Tax:</span>
        <span class="thin-gray-text">$250</span>
      </div>
      <div class="propery-pair">
        <span>Additional Tax:</span>
        <span class="thin-gray-text">$25</span>
      </div>
      <div class="propery-pair">
        <span>(Purpose)</span>
        <span class="thin-gray-text">Resale</span>
      </div>

    </div>
  </div>
</div>
<app-pop-up [isTrade]="true" (isClosed)="closePopUp($event)" *ngIf="isPopUpOpen"></app-pop-up>