.row {
  .unset-pd {
    padding-bottom: 0px !important;
  }
}
.card {
  padding: 20px 10px 0px 10px;
}
.avatar-section {
  h4 {
    margin-left: 10px;
    color: #81007F;
  }
  h3 {
    margin-left: 12px;
    margin-bottom: 5px;
  }
}
h3 {
  margin-bottom: 15px;
}
.wrapper-border {
  margin-bottom: 20px;
}
.content {
  .row {
    height: 100%;
  }
  .section {
    span {
      font-size: 16px;
      color: #81007F;
      white-space: nowrap;
    }
    input {
      height: 30px;
      width: 100%;
      margin-left: 10px;
      font-size: 16px;
    }
  }
  .aligner-of-content {
    justify-content: space-between !important;
    padding-bottom: 13px !important;
    padding-top: 16px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .extra-content {
    justify-content: space-between !important;
    padding-bottom: 13px !important;
    padding-top: 16px !important;
  }
  button {
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
.detail-btn {
  width: 140px;
  margin: auto;
}
.fixed-height {
  height: 170px;
  .admin-content-extra,
  .admin-content-extra-last {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 13px;
  }
}
.admin-bottom {
  div {
    &:first-child {
      margin-bottom: 4px;
    }
  }
}
//.main {
//  height: calc(100vh - 80px);
//  overflow: hidden;
//}
