<div class="main">
  <div class="wrapper-border">
    <div class="wrapper-border">
      <h3>My Deploys</h3>
      <div class="card">
        <div class="row">
          <div class="col-md-2 unset-pd avatar-section">
            <div class="track-image d-flex align-items-start justify-content-end flex-column">
              <h3>Token</h3>
              <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png" alt="">
            </div>
          </div>
          <div class="col-md-10 unset-pd">
            <div class="row">
              <div class="col-md-4 unset-pd">
                <div class="d-flex justify-content-between align-items-center">
                  <h4>Token amount</h4>
                  <input type="text">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <h4>Algo
                    amount</h4>
                  <input type="text">
                </div>
              </div>
              <div class="col-md-4 unset-pd"></div>
              <div class="col-md-4 unset-pd"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-border">
      <h3>My Presales</h3>
      <div class="card">

      </div>
    </div>
  </div>
</div>
