<div class="main">
  <div class="wrapper-border">
    <div class="wrapper-border">
      <h3>My Deploys</h3>
      <div class="scrollable-content">
        <div class="card" *ngFor="let item of arr">
        <div class="row">
          <div class="col-md-2 unset-pd avatar-section">
            <div class="track-image d-flex align-items-start justify-content-end flex-column">
              <h4>Token</h4>
              <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png" alt="">
            </div>
          </div>
          <div class="col-md-10 unset-pd content main-content">
            <div class="row">
              <div class="col-md-4 unset-pd aligner-of-content">
                <div class="d-flex justify-content-between align-items-center section">
                  <span>Token amount</span>
                  <input type="text" class="input-costum">
                </div>
                <div class="d-flex justify-content-between align-items-center section">
                  <span>Algo
                    amount</span>
                  <input type="text" class="input-costum">
                </div>
                <div class="bottom-title section">
                  <span style="color: #1c1c1e">
                    Initial Price: XY Token / Algo
                  </span>
                </div>
                <button class="bottom-btn btn-secondary-costum">
                  Init Liquidity
                </button>
              </div>
              <div class="col-md-4 unset-pd aligner-of-content extra-content">
                <div class="bottom-title section">
                  <span style="color: #1c1c1e">
                    Activate the trading after liquidity <br> was added
                  </span>
                </div>
                <button class="bottom-btn btn-secondary-costum">
                  Activate Trading
                </button>
              </div>
              <div class="col-md-4 unset-pd aligner-of-content extra-content">
                <div class="bottom-title section">
                  <span style="color: #1c1c1e">
                    Remove the initial max buy limit
                  </span>
                </div>
                <button class="bottom-btn btn-secondary-costum">
                  Remove buy
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
<!--    <div class="wrapper-border">-->
<!--      <h3>My Presales</h3>-->
<!--      <div class="card">-->
<!--        <div class="row">-->
<!--          <div class="col-md-2 unset-pd avatar-section">-->
<!--            <div class="track-image d-flex align-items-start justify-content-end flex-column">-->
<!--              <h4 style="color: #1c1c1e; margin-bottom: 5px">Project Name</h4>-->
<!--              <h4>Token</h4>-->
<!--              <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png" alt="">-->
<!--              <button class="btn-primary-costum detail-btn">-->
<!--                Detail Page-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-10 unset-pd content">-->
<!--            <div class="row">-->
<!--              <div class="col-md-4 unset-pd aligner-of-content">-->
<!--                <div class="d-flex justify-content-between align-items-center section">-->
<!--                  <span>Token amount</span>-->
<!--                  <input type="text" class="input-costum">-->
<!--                </div>-->
<!--                <div class="d-flex justify-content-between align-items-center section">-->
<!--                  <span>Algo-->
<!--                    amount</span>-->
<!--                  <input type="text" class="input-costum">-->
<!--                </div>-->
<!--                <div class="bottom-title section">-->
<!--                  <span style="color: #1c1c1e">-->
<!--                    Initial Price: XY Token / Algo-->
<!--                  </span>-->
<!--                </div>-->
<!--                <button class="bottom-btn btn-secondary-costum">-->
<!--                  Init Liquidity-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="col-md-4 unset-pd aligner-of-content extra-content">-->
<!--                <div class="bottom-title section">-->
<!--                  <span style="color: #1c1c1e">-->
<!--                    Activate the trading after liquidity <br> was added-->
<!--                  </span>-->
<!--                </div>-->
<!--                <button class="bottom-btn btn-secondary-costum">-->
<!--                  Activate Trading-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="col-md-4 unset-pd aligner-of-content extra-content">-->
<!--                <div class="bottom-title section">-->
<!--                  <span style="color: #1c1c1e">-->
<!--                    Remove the initial max buy limit-->
<!--                  </span>-->
<!--                </div>-->
<!--                <button class="bottom-btn btn-secondary-costum">-->
<!--                  Remove buy-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="bottom-section">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5 unset-pd"></div>-->
<!--            <div class="col-md-7 unset-pd">-->
<!--              <div class="row fixed-height">-->
<!--                <div class="col-md-6 unset-pd">-->
<!--                  <div class="admin-content-extra content">-->
<!--                    <div class="bottom-title section">-->
<!--                    <span style="color: #1c1c1e">-->
<!--                      Activate the trading after liquidity <br> was added-->
<!--                    </span>-->
<!--                    </div>-->
<!--                    <button class="bottom-btn btn-secondary-costum">-->
<!--                      Activate Trading-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 unset-pd">-->
<!--                  <div class="admin-content-extra-last">-->
<!--                    <div class="admin-header">-->
<!--                      <h4>Admin Functions</h4>-->
<!--                    </div>-->
<!--                    <div class="admin-bottom">-->
<!--                      <div class="d-flex align-items-center">-->
<!--                        <h4 style="margin-right: 5px; color: #81007F">Starts:</h4>-->
<!--                        <span>Date</span>-->
<!--                      </div>-->
<!--                      <div class="d-flex align-items-center">-->
<!--                        <h4 style="margin-right: 5px; color: #81007F">Ends:</h4>-->
<!--                        <span>Date</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="admin-bottom-last">-->
<!--                      <div class="d-flex align-items-start flex-column">-->
<!--                        <div class="subscr">-->
<!--                        <span>-->
<!--                          Subscribed-->
<!--                        </span>-->
<!--                        </div>-->
<!--                        <div class="progress-progress-bar" style="height: 15px; width: 100%; margin: 4px 0px;">-->
<!--                          <div class="progress">-->
<!--                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-between" style="width: 100%">-->
<!--                          <span style="color: #81007F">Amount Algo:</span>-->
<!--                          <span>Amount</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
