<div class="main">
  <div class="wrapper-border">
    <div class="header d-flex justify-content-between">
      <div class="search-section hide-respo">
        <div class="search">
          <input type="text" placeholder="Collection, items..." class="input-costum" style="color: #040405 !important;">
        </div>
        <div class="search-btn search_btn">
          <svg viewBox="0 0 16 16" fill="none" width="16" height="16" xlmns="http://www.w3.org/2000/svg" class="sc-bdnxRM sc-hKFxyN hOiKLt">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 7C2 4.23858 4.23858 2 7 2C9.76142 2 12 4.23858 12 7C12 9.76142 9.76142 12 7 12C4.23858 12 2 9.76142 2 7ZM7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C8.57591 14 10.0302 13.4792 11.2001 12.6004C11.2281 12.6376 11.259 12.6733 11.2929 12.7071L14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L12.7071 11.2929C12.6733 11.259 12.6376 11.2281 12.6004 11.2001C13.4792 10.0302 14 8.57591 14 7C14 3.13401 10.866 0 7 0Z" fill="currentColor"></path>
          </svg>
        </div>
      </div>
      <app-drop-down-selector
        [isNotAccordion]="false"
        [dropDownValues]="['Starting Soon', 'Ending Soon', 'Participated', 'Finished']"
        [widthPX]="'160px'"
      >
      </app-drop-down-selector>
    </div>
    <div class="wrapper-border">
      <div class="card" routerLink="/launch-detail" style="cursor: pointer">
        <div class="row">
          <div class="col-2">
            <h6>Project Name</h6>
            <h6>Token</h6>
            <img  style="width: 100%;" src="https://g.foolcdn.com/editorial/images/655346/bitcoin-cryptocurrency-digital-ethereum-dollar-gold-investment-getty.jpg" alt="">
          </div>
          <div class="col-4">
            <div class="d-flex date">
              <h6>Starts:</h6>
              <span>Date</span>
            </div>
            <div class="d-flex date">
              <h6>Ends:</h6>
              <span>Date</span>
            </div>
            <div class="progress-bar-costum">
              <div class="d-flex justify-content-between flex-column">
                <h6>Subscribed</h6>
                <div class="progress-progress-bar">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="progress-bar-left">
                    <h6>
                      Amount
                    </h6>
                    <span>
                      Algo
                    </span>
                  </div>
                  <div class="progress-bar-right">
                    <h6>
                      Amount
                    </h6>
                    <span>
                      Algo
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h6>Description</h6>
            <div class="desc" style="height: 19.3vh; overflow-y: scroll; margin-top: 10px">
                          <span>
                Aenean auctor dictum purus, et sollicitudin leo ornare sed. Morbi suscipit ut orci eget varius. Sed ut sollicitudin dui, ac viverra nulla. Proin rutrum, mi vehicula ornare sodales, nisi augue venenatis urna, a dignissim mauris elit non lectus. Cras posuere urna vel purus elementum elementum. Praesent mollis, ipsum vel malesuada tincidunt, turpis tortor finibus nulla, id laoreet neque quam vel massa. Curabitur non ullamcorper nibh. Maecenas venenatis viverra est, id porta arcu. Curabitur a iaculis orci, non iaculis urna. Maecenas ut maximus nibh, in tincidunt urna. Proin ullamcorper malesuada libero at posuere. Suspendisse posuere, turpis id tempus vehicula, neque velit fermentum nibh, vitae consectetur metus metus sed nisi. Aenean sed orci et ipsum malesuada volutpat.
              </span>
            </div>
          </div>
        </div>
      </div
      >
    </div>
  </div>
</div>
