<div class="main">
  <div class="wrapper-border">
    <div class="header-title d-flex">
      <h3>My Wallet</h3>
      <span style="margin-left: 150px;">40.000 <span class="color-violet">Algo</span> ≈ $100.000</span>
    </div>
    <div class="choise d-flex" style="margin-top: 5px; margin-bottom: 10px;">
      <div class="section" (click)="activeFirst()">
        <button [ngClass]="{'btn-secondary-costum': isActiveFirst, 'btn-primary-costum': isActiveSecond }"
          style="border-radius: 4px; margin-right: 10px;">
          Tokens
        </button>
      </div>
      <div class="section" (click)="activeSecond()">
        <button [ngClass]="{'btn-secondary-costum': isActiveSecond, 'btn-primary-costum': isActiveFirst }"
          class="btn-primary-costum" style="border-radius: 4px">

          My Entries
        </button>
      </div>
    </div>
    <app-track *ngIf="isActiveFirst"></app-track>
    <app-launchpad *ngIf="isActiveSecond"></app-launchpad>
  </div>
</div>