<div class="main">
  <div class="wrapper-border">
    <div class="header-title d-flex flex-column">
      <h3>Track</h3>
      <span>Add Tokens on the Trade tab to your <br> Favorites to track them here</span>
    </div>
    <div class="scrollable-section">
      <div class="track-section">
        <ng-container *ngFor="let item of arr">
          <div class="card">
            <div class="row">
              <div class="col-md-2 unset-pd">
                <div class="track-image d-flex align-items-start justify-content-end flex-column">
                  <h3>Token</h3>
                  <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png" alt="">
                </div>
              </div>
              <div class="col-md-10 unset-pd pd_t-55">
                <div class="row">
                  <div class="col-md-4 unset-pd track-info-left">
                    <div class="d-flex justify-content-between">
                      <h4>Price:</h4>
                      <span>Markecap</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h4>XY/Algo Token:</h4>
                      <span>XY Algo</span>
                    </div>
                    <div class="d-flex justify-content-between flex-column">
                      <h4 style="color: #040405">Your Holding</h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <h4>XY Token</h4>
                        <div class="d-flex align-items-cetner">
                          <h4 style="margin-right: 5px">Value:</h4>
                          <span>XY Algo</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 unset-pd track-info-left-right">
                    <div class="d-flex justify-content-between">
                      <h4>Fully Diluted Marketcap:</h4>
                      <span>Holders</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h4>XY Algo:</h4>
                      <span>XY Addresses</span>
                    </div>
                  </div>
                  <div class="col-md-4 unset-pd track-info-middle">
                    <div class="last-section">
                      <h3>Liquidity</h3>
                      <div class="d-flex align-items-center">
                        <span style="color: #81007F">Token Amount</span>
                        <input type="text" class="input-costum">
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: #81007F">Algo Amount</span>
                        <input type="text" class="input-costum">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
