<div class="main">
    <div style="margin-top: 20px" class="scrollable-section">
      <div class="track-section">
        <ng-container *ngFor="let item of arr; let i = index;">
          <div class="card" [style.margin-bottom]="item.open ? 0 : ''" [style.border-radius]="item.open? '0.25rem 0.25rem 0 0' : ''">
            <!-- <div class="row"> -->
            <!-- LEFT SIDE -->
            <div class="col-md-2 unset-pd left-wrapper">
              <div class="left-container">
                  <div class="left-texts-container">
                      <span class="left-text">{{item.assetView.name}}</span>
                      <div style="cursor: pointer;" (click)="copyContentToClipboard(content)" class="asa-id-container left-text">
                          <span #content>{{item.assetView.assetId}}</span>
                          <i style="margin-left: 10px; font-size: 18px;"
                              class="fas fa-clipboard-list"></i>
                      </div>
                  </div>
                  <img routerLink="/token-detail" style="width: 65%; cursor: pointer;"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png"
                      alt="">
              </div>
          </div>
            <!-- LEFT SIDE -->
            <!-- RIGHT SIDE -->
            <div class="columns-container">
              <div class="column">
                <div class="data-box">
                  <span class="property">Price</span>
                  <span class="value">{{(item.blockchainTrackInfo.price).toFixed(6)}} Algo/Token</span>
                </div>
                <div class="data-box">
                  <span class="property">Your Holding</span>
                  <span class="value">{{item.blockchainTrackInfo.holding}} Token</span>
                  <span class="value">≈ {{(item.blockchainTrackInfo.holding * item.blockchainTrackInfo.price).toFixed(2)}} Algo</span>
                </div>
              </div>
              <div class="column">
                <div class="data-box">
                  <span class="property">Average Buy Price</span>
                  <span class="value">{{item.price.avgBuyEntry.toFixed(6)}} Algo/Token ({{item.price.buyChange}}%)</span>
                  <span class="value">For {{item.price.algoBuyAmount.toFixed(6)}} Algo</span>
                </div>
                <div class="data-box">
                  <span class="property">Average Sell Price</span>
                  <span class="value">{{item.price.avgSellEntry.toFixed(6)}} Algo/Token ({{item.price.sellChange}}%)</span>
                  <span class="value">For {{item.price.algoSellAmount.toFixed(6)}} Algo</span>
                </div>
              </div>
              <div class="column">
                <div class="data-box">
                  <span class="property">Marketcap</span>
                  <span class="value">{{(item.blockchainTrackInfo.marketCap).toFixed(0)}} Algo</span>
                </div>
                <div class="data-box">
                  <span class="property">Backing</span>
                  <span class="value">{{(item.blockchainTrackInfo.totalBacking / item.blockchainTrackInfo.totalSupply).toFixed(6)}} Algo/Token</span>
                </div>
              </div>
              <!-- RIGHT SIDE -->
              <i *ngIf="!item.open" (click)="dropDownToggle(i)" class="fas fa-caret-down arrow"></i>
            </div>
            <!-- </div> -->
          </div>
          <ng-container *ngIf="item.open">
            <div class="card card-details card-open" style="border-radius: 0 0 0.25rem 0.25rem; border-top: none;">
              <!-- <div class="row"> -->
              <!-- LEFT SIDE -->
              <div class="col-md-2 unset-pd left-wrapper">
                <div class="left-container">
                  <h1>Details</h1>
                </div>
              </div>
              <!-- LEFT SIDE -->
              <!-- RIGHT SIDE -->
              <div class="columns-container">
                <div class="column">
                  <div class="data-box">
                    <span class="property">Remaining Supply</span>
                    <span class="value">{{item.blockchainTrackInfo.totalSupply}} Token</span>
                  </div>
                  <div class="data-box">
                    <span class="property">Burned</span>
                    <span class="value">{{(item.blockchainTrackInfo.burned).toFixed(2)}} Token</span>
                    <span class="value">Value: {{(item.blockchainTrackInfo.burned * item.blockchainTrackInfo.price).toFixed(2)}} Algo</span>
                  </div>
                </div>
                <div class="column">
                  <div class="data-box">
                    <span class="property">Holders</span>
                    <span class="value">{{item.blockchainTrackInfo.holders}} Address</span>
                  </div>
                  <div class="data-box">
                    <div>
                        <span class="property">Liquidity</span>
                        <span style="margin-left: 10px;">{{(item.blockchainTrackInfo.algoLiq / item.blockchainTrackInfo.marketCap * 100).toFixed(2)}}% of marketcap</span>
                    </div>
                    <span class="value">Token: {{item.blockchainTrackInfo.tokenLiq}}</span>
                    <span class="value">Algo: {{item.blockchainTrackInfo.algoLiq}}</span>
                </div>
                </div>
                <div class="column">
                  <div class="data-box">
                    <span class="property">Trading since</span>
                    <span class="value">{{item.price.tradingStart.toDateString()}} - {{item.price.tradingStart.getHours()}}:{{item.price.tradingStart.getMinutes()}}</span>
                  </div>
                  <div class="data-box">
                    <span class="property">ASA URL</span>
                    <span class="value">{{item.assetView.url}}</span>
                  </div>
                </div>
                <div class="column">
                  <div class="data-box">
                    <span class="property">Transactions</span>
                    <span class="value">X Buy Transactions</span>
                    <span class="value">X Sell Transactions</span>
                    <span class="value">X Send Transactions</span>
                    <span class="value">X Total Transactions</span>
                  </div>
                </div>
                <!-- RIGHT SIDE -->
                <i (click)="dropDownToggle(i)" class="fas fa-caret-up arrow"></i>
              </div>
              <!-- </div> -->
            </div>
          </ng-container>
          
        </ng-container>
      </div>
    </div>
</div>