<div
  class="main"
  [ngStyle]="{
    height: isWallet ? 'calc(100vh - 228px)' : 'calc(100vh - 95px)'
  }"
>
  <div class="" [ngClass]="{ 'wrapper-border': !isWallet }">
    <div class="header d-flex justify-content-between">
      <div class="search-section hide-respo">
        <div
          class="search"
          [ngStyle]="{ margin: isWallet ? '4px 0px 0px 4px' : 'unset' }"
        >
          <input
            [formControl]="searchInput"
            type="text"
            placeholder="Token, Project..."
            class="input-costum input-width"
            style="color: #040405 !important"
          />
        </div>
        <div
          class="search-btn search_btn"
          [ngClass]="{ 'search-btn-wallet': isWallet }"
        >
          <svg
            viewBox="0 0 16 16"
            fill="none"
            width="16"
            height="16"
            xlmns="http://www.w3.org/2000/svg"
            class="sc-bdnxRM sc-hKFxyN hOiKLt"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 7C2 4.23858 4.23858 2 7 2C9.76142 2 12 4.23858 12 7C12 9.76142 9.76142 12 7 12C4.23858 12 2 9.76142 2 7ZM7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C8.57591 14 10.0302 13.4792 11.2001 12.6004C11.2281 12.6376 11.259 12.6733 11.2929 12.7071L14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L12.7071 11.2929C12.6733 11.259 12.6376 11.2281 12.6004 11.2001C13.4792 10.0302 14 8.57591 14 7C14 3.13401 10.866 0 7 0Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
      </div>
      <app-drop-down-selector
        [isNotAccordion]="false"
        [dropDownValues]="dropDownValues"
        (dropDownValue)="getValueFromDropDown($event)"
        [widthPX]="'180px'"
      >
      </app-drop-down-selector>
    </div>
    <div
      class="scrollable-content"
      [ngStyle]="{
        height: isWallet ? 'calc(100vh - 285px)' : 'calc(100vh - 210px)'
      }"
    >
      <ng-container *ngIf="!entries">
        <app-card [data]="item" *ngFor="let item of array" routerLink="../launchpad/launch-detail/{{item[0].projectId}}"></app-card>
      </ng-container>

      <ng-container *ngIf="entries">
        <ng-container *ngFor="let item of array">
        <div class="card">
          <div class="row">
            <div class="col-md-2 unset-pd avatar-section" routerLink="../launchpad/launch-detail/{{item[0].projectId}}"
            style="cursor: pointer;">
              <div class="headings">
                <h4 class="d-flex align-items-center" style="margin-bottom: 5px">{{item[0]?.name}}</h4>
                <h4 style="color: #1c1c1e;">{{item[0]?.asset?.name}}</h4>
              </div>
              <div class="track-image d-flex align-items-center justify-content-end flex-column">
                <img style="width: 65%;"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1156px-Picture_icon_BLACK.svg.png"
                     alt="">
                <span class="ended-mark color-violet">FAILED</span>
              </div>
            </div>
            <div class="right-container col-md-10">
              <div class="col-md-4 unset-pd" style="line-height: normal;">
                <div class="admin-content-extra-last">
                  <div class="admin-header d-flex align-items-center">
                    <h4>Admin Functions</h4>
                  </div>
                  <div class="admin-bottom">
                    <div class="left-values">
                      <div class="d-flex align-items-center">
                        <h4 style="margin-right: 5px; color: #81007F">Starts:</h4>
                        <!--                        <span>{{formatDate(item[1].saleStart)}}</span>-->
                        <span>2344</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <h4 style="margin-right: 5px; color: #81007F">Ends:</h4>
                        <!--                        <span>{{formatDate(item[1].saleEnd)}}</span>-->
                        <span>23442</span>
                      </div>
                    </div>
                    <!-- <div class="d-flex flex-column align-items-start right-values">
                      <div class="d-flex align-items-center">
                        <h4 style="margin-right: 5px; color: #81007F">Hardcap:</h4>
                        <span>{{item?.presale?.hardCap}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <h4 style="margin-right: 5px; color: #81007F">Softcap:</h4>
                        <span>{{item?.presale?.softCap}}</span>
                      </div>
                    </div> -->
                  </div>
                  <div class="admin-bottom-last">
                    <div class="d-flex align-items-start flex-column">
                      <div class="subscr">
                          <span>
                            Subscribed
                          </span>
                      </div>
                      <div class="progress-progress-bar" style="height: 15px; width: 100%; margin: 4px 0px;">
                        <div class="progress">
                          <!--                          width: {{(item[1].totalRaised /item[1].hardCap * 100).toFixed(0)}}%-->
                          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%;"
                               aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between" style="width: 100%">
                        <div class="d-flex align-items-center">
                          <h6 class="color-violet">
                            Raised:
                          </h6>
                          <span style="margin-left: 6px">
<!--                              {{(item[1].totalRaised).toFixed(0)}}-->
                            333
                            </span>
                        </div>
                        <div class="d-flex align-items-center">
                          <h6 class="color-violet">
                            Max:
                          </h6>
                          <span style="margin-left: 6px">
<!--                              {{(item[1].hardCap).toFixed(0)}}-->
                            555
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-area">
                  <ng-container>
                    <p>
                      Your presale did not reach your Softcap.
                    </p>
                    <p>
                      User can't claim any tokens now.
                    </p>
                    <p>
                      You can start a new presale with better conditions for your users, or do a fair launch.
                    </p>
                    <p>
                      Users participated can claim their comitted Algo before a new presale starts or leave them in
                      the contract to have a guaranteed allocation in your next presale.
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-2">
                <div class="unset-pd">
                  <div class="btn-container d-flex flex-column">
                    <button (click)="claimAlgo()" class="bottom-btn btn-secondary-costum">
                      Claim Algo
                    </button>
                    <button (click)="claimToken()" class="bottom-btn btn-secondary-costum">
                      Claim Token
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>
