.main {
  height: calc(100vh + 184px);
  overflow: hidden;
  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .header-prev {
    h4 {
      margin-bottom: 10px;
    }
    span {
      display: block;
      font-size: 16px;
    }
  }
  .content {
    h3 {
      margin-bottom: 20px;
      text-align: center;
      margin-top: 20px;
    }
    .card {
      padding: 10px 20px !important;
      .date {
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      h6 {
        padding: 10px 0px;
      }
      .progress-bar-costum {
        span {
          &:last-child {
            margin-left: 10px;
          }
        }
        .progress-progress-bar {
          margin-bottom: 0px;
        }
      }
      .progress-bar-right,
      .progress-bar-left {
        align-items: center;
        display: flex;
      }
    }
  }
}
.card {
  &:last-child {
    margin-top: 15px;
  }
}
.scroll {
  height: calc(80vh - 10px);
  overflow: scroll;
}
