<div class="main">
  <div class="wrapper-border">
    <div class="header">
    <h1>Verse Integration Pad</h1>
  </div>
    <div class="row header-prev">
    <div class="col-md-4">
      <h4>TODO:</h4>
      <span>- describe website</span>
      <span>- Launch own Token</span>
      <span>- trade all launched tokens</span>
      <span>- participate in presales</span>
    </div>
    <div class="col-md-4">
      <h4>TODO:</h4>
      <span>- describe our technology</span>
      <span>- Rug-proof: Locked liq in every token to algo base pair</span>
      <span>- baseline value for each token, ever rising</span>
      <span>- smart rising price floor for sells</span>
      <span>- all launched tokens burn Verse by trading</span>
    </div>
    <div class="col-md-4">
      <h4>TODO:</h4>
      <span>- describe our tokenomics and presale levels</span>
      <span>- For launching a token Verse needs to be burned</span>
      <span>- For participating in presales Verse needs to be hold</span>
      <span>- Different levels:</span>
      <span>- hold X verse for each level, more allocation in presale possible</span>
    </div>
  </div>
    <div class="content">
    <h3>Upcoming Projects</h3>
    <div class="wrapper-border scroll">
      <div class="card" *ngFor="let item of arr" routerLink="/launch-detail">
        <div class="row">
          <div class="col-2">
            <h6>Project Name</h6>
            <h6>Token</h6>
            <img  style="width: 100%;" src="https://g.foolcdn.com/editorial/images/655346/bitcoin-cryptocurrency-digital-ethereum-dollar-gold-investment-getty.jpg" alt="">
          </div>
          <div class="col-4">
            <div class="d-flex date">
              <h6>Starts:</h6>
              <span>Date</span>
            </div>
            <div class="d-flex date">
              <h6>Ends:</h6>
              <span>Date</span>
            </div>
            <div class="progress-bar-costum">
              <div class="d-flex justify-content-between flex-column">
                <h6>Subscribed</h6>
                <div class="progress-progress-bar">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="progress-bar-left">
                    <h6>
                      Amount
                    </h6>
                    <span>
                    Algo
                  </span>
                  </div>
                  <div class="progress-bar-right">
                    <h6>
                      Amount
                    </h6>
                    <span>
                    Algo
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h6>Description</h6>
            <span>
              Aenean auctor dictum purus, et sollicitudin leo ornare sed. Morbi suscipit ut orci eget varius. Sed ut sollicitudin dui, ac viverra nulla. Proin rutrum, mi vehicula ornare sodales, nisi augue venenatis urna, a dignissim mauris elit non lectus. Cras posuere urna vel purus elementum elementum. Praesent mollis, ipsum vel malesuada tincidunt, turpis tortor finibus nulla, id laoreet neque quam vel massa. Curabitur non ullamcorper nibh. Maecenas venenatis viverra est, id porta arcu. Curabitur a iaculis orci, non iaculis urna. Maecenas ut maximus nibh, in tincidunt urna. Proin ullamcorper malesuada libero at posuere. Suspendisse posuere, turpis id tempus vehicula, neque velit fermentum nibh, vitae consectetur metus metus sed nisi. Aenean sed orci et ipsum malesuada volutpat.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
